.btn {
  padding: px-to-rem(20px 30px);

  color: inherit;

  text-transform: uppercase;

  background: none;

  border: none;
  border-radius: px-to-rem(5px);

  cursor: pointer;

  &--green {
    color: $white;

    background: $green;
  }

  &--subscribe {
    display: block;
    border: 1px solid $white;

    @include link-reset;
  }

  &--album {
    display: inline-block;

    @include link-reset;
    border: 1px solid $dark-gray;
    padding: 16px 30px;
    color: $dark-gray;

    @include set-font(13px, 19px, 400, uppercase);
  }

  &--download {
    padding: 17px 40px;
    background-color: $red;
    border-radius: 32px;
    text-transform: none;
    color: $white;
  }
}
