.footer {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer-top {
  padding: 3rem 0;
  border-bottom: 1px solid $gray;
  width: 100%;

  &__wrapper {
    @media (min-width: $tablet) {
      display: flex;
    }
  }
  
  ul {
    @include list-reset;
    li  a{
      @include link-reset;
    }
  }

  &__block {

    @media (min-width: $desktop) {
      @include set-width(40px, 4);
    }
  }

  &__block-header {
    color: $white;
    margin-bottom: 15px;
  
    @media (min-width: $desktop) {
      @include set-font(18px, 27px, bold, uppercase);
    }
  }

  &__list-wrapper {
    &--social {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
    }
  }
}


.footer-bottom {
  padding: 2rem 0;
  width: 100%;

  &__wrapper {
    @media (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
    }
  }

  ul {
    @include list-reset;
    li a {
      @include link-reset;
    }
    
  }
}