.hero {
  text-align: center;
  color: $white;
  padding: 250px 20px 201px;

  h2 {
    margin-bottom: 16px;

    @media (min-width: $desktop) {
      margin-bottom: 31px;
    }
  }

  p {
    @include set-font(16px, 24px);
    margin-bottom: 16px;
  }

  &__form {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet) {
      max-width: 570px;
      margin: 0 auto;
    }
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet) {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 31px;
    }
  }

  &__input {
    margin-bottom: 24px;
    height: 50px;
    padding: 17px 22px;
    border-radius: 3px;
    border: 2px solid $dark-gray;
    background: rgb(255 255 255 / 0%);

    &::placeholder {
      font-weight: 700;
      font-family: "Roboto bold", sans-serif;
      color: $white;
    }

    @media (min-width: $tablet) {
      @include set-width(24px, 2);
      margin-bottom: 0;
    }
  }
}
