.mobile {
  &__header {
    text-align: center;
  }

  &__body {
    @media (min-width: $tablet) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__img-wrapper {
    text-align: center;

    @media (min-width: $tablet) {
      width: 50%;
      order: 2;
    }
  }

  &__desc-wrapper {
    @media (min-width: $tablet) {
      width: 50%;
      order: 1;
    }
  }
}
