$list-bgs: ("free": "1", "standard": "2", "premium": "3");

.subscription {
  // margin: 100px 0;
  text-align: center;
  color: $white;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  &__item-wrapper {
    border-radius: 1rem;

    @media (min-width: $tablet) {
      @include set-width(50px, 2);
    }

    @media (min-width: $desktop) {
      @include set-width(50px, 3);
    }
  }

  @each $class, $name in $list-bgs {
    @include set-subscription-bg($class, $name);
  }

  &__item {
    padding: 16px 24px 65px;
  }

  &__header {
    margin-bottom: 50px;
  }

  &__item-header {
    margin-bottom: 200px;
  }

  &__value {
    @include set-font(64px, 64px, 400, uppercase);
    margin-bottom: 40px;

    span {
      font-size: 32px;
      vertical-align: text-top;
    }
  }

  &__btn {
    margin-bottom: 65px;
  }

  &__footer {
    @include set-font(13px, 19px);
  }
}
