@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}
* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: "Roboto Regular", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: #cacaca;
  background: #08020d;
}

h1 {
  font-size: 1.6666666667rem;
  line-height: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
@media (min-width: 1240px) {
  h1 {
    font-size: 3.3333333333rem;
    line-height: 5rem;
    font-weight: normal;
    text-transform: none;
  }
}

h2 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
@media (min-width: 1240px) {
  h2 {
    font-size: 2.1111111111rem;
    line-height: 3.1666666667rem;
    font-weight: normal;
    text-transform: none;
  }
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 414px;
  margin: 0 auto;
  padding: 0rem 1.1111111111rem;
}
@media (min-width: 768px) {
  .container {
    max-width: 42.6666666667rem;
  }
}
@media (min-width: 1240px) {
  .container {
    max-width: 66.6666666667rem;
  }
}

.header {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}
.header__wrapper {
  position: absolute;
  top: 1.3888888889rem;
  left: 0;
  right: 0;
}
@media (min-width: 768px) {
  .header__wrapper {
    display: flex;
  }
}
.header__logo {
  min-width: 7.1111111111rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.6111111111rem;
  line-height: 0.7222222222rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  margin-bottom: 0.9444444444rem;
}
@media (min-width: 768px) {
  .header__logo {
    margin: 0rem 5rem 0rem 0rem;
  }
}
.header__logo p {
  margin-left: 0.8888888889rem;
}
@media (min-width: 768px) {
  .header__nav-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
.header__nav-wrapper nav {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .header__nav-wrapper nav {
    margin-bottom: 0;
  }
}
.header__nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .header__nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .header__nav-item {
    margin-right: 1.3333333333rem;
  }
}
@media (min-width: 768px) {
  .header__nav-item:last-child {
    margin-right: 0;
  }
}
.header__nav-link {
  text-decoration: none;
  color: inherit;
  font-size: 0.6111111111rem;
  line-height: 0.7222222222rem;
  font-weight: bold;
  text-transform: uppercase;
}
.header__nav-link--active {
  color: #fff;
}
.header__search {
  width: 100%;
  border-radius: 2.7777777778rem;
  background: #3c3b3d;
  border: none;
  padding: 0.2777777778rem 0.5555555556rem;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .header__search {
    width: auto;
  }
}
@media (min-width: 1240px) {
  .header__search {
    width: 13.7777777778rem;
  }
}

.hero {
  text-align: center;
  padding: 13.8888888889rem 1.1111111111rem 11.1666666667rem;
}
.hero h2 {
  margin-bottom: 0.8888888889rem;
}
@media (min-width: 1240px) {
  .hero h2 {
    margin-bottom: 1.7222222222rem;
  }
}
.hero p {
  font-size: 0.8888888889rem;
  line-height: 1.3333333333rem;
  font-weight: normal;
  text-transform: none;
  color: #fff;
  margin-bottom: 0.8888888889rem;
}
.hero__form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1240px) {
  .hero__form {
    max-width: 31.6666666667rem;
    margin: 0 auto;
  }
}
.hero__input-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1240px) {
  .hero__input-wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.7222222222rem;
  }
}
.hero__input {
  margin-bottom: 1.3333333333rem;
  height: 2.7777777778rem;
  padding: 0.9444444444rem 1.2222222222rem;
  border-radius: 0.1666666667rem;
  border: 0.1111111111rem solid #cacaca;
  background: rgba(255, 255, 255, 0);
}
.hero__input::placeholder {
  font-weight: 700;
  font-family: "Roboto bold", sans-serif;
  color: #fff;
}
@media (min-width: 1240px) {
  .hero__input {
    width: calc((100% - 21px) / 2);
    margin-bottom: 0;
  }
}

.btn {
  padding: 1.1111111111rem 1.6666666667rem;
  color: inherit;
  text-transform: uppercase;
  background: none;
  border: none;
  border-radius: 0.2777777778rem;
  cursor: pointer;
}
.btn--green {
  color: #fff;
  background: #34c176;
}

/*# sourceMappingURL=style.css.map */
