.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-40 {
  margin-bottom: 40px;
}


.d-flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.g-50 {
  gap: 50px;
}

.text-size-1 {
  font-size: 16px;
  line-height: 1.5;
}
