@function px-to-rem($list) {
  $result: ();

  @each $value in $list {
    $result: append($result, calc(($value / $rem-base) * 1rem));
  }

  @return #{$result};
}

@mixin set-font($size, $height, $weight: normal, $text-transform: none) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  text-transform: $text-transform;
}

@mixin link-reset {
  text-decoration: none;
  color: inherit;
}

@mixin list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin set-subscription-bg($class, $name) {
  .subscription__item-wrapper--#{$class} {
    background-image: url("../images/subscribe_#{$name}.png");
    background-position: center;
    background-size: cover;
  }
}

@mixin set-width($gap, $columns-count) {
  width: calc((100% - $gap * ($columns-count - 1)) / $columns-count);
}
