@import "./mixins";

* {
  box-sizing: border-box;
}

body {
  color: $dark-gray;
  font-size: $base-size;
  font-family: "Roboto Regular", sans-serif;
  line-height: 1.5;

  background: $black;
}

h1 {
  @include heading-bold($h1);
}

h2 {
  @include heading-bold($h2);
}
