.search {
  display: block;

  box-sizing: border-box;

  padding: 5px 0 5px 10px;

  color: map.get($theme-colors, "white");

  background-color: map.get($theme-colors, "dark");

  border: none;
  border-radius: 50px;
}
